{# templates/author/showAuthor.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{{ author.name }} Details</title>
</head>
<body>
    <h1>{{ author.name }}</h1>
    <img src="{{ asset(author.picture) }}" alt="{{ author.name }}">
    <p>Email: {{ author.email }}</p>
    <p>Number of books: {{ author.nb_books }}</p>
</body>
</html>
